.SavedNote-wrapper{
  display: flex;
  flex: 1;
  flex-direction: column;
  padding:5px
}

.SavedNote-title{
  flex:1;
  font-size: 1.3em;
  font-weight: bold;
  padding:5px
}

.SavedNote-body{
  flex:1;
  background: #fff;
  padding:5px
}

.SavedNote-pre{
  overflow: auto;
}