.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body-header-wrapper{
  flex:1;
  color: rgb(100,100,100);
  padding: 2%;
}

.header-text{
  padding-right: 2%;
}

.text-wrapper{
  flex:1;
  box-sizing: border-box;

  padding: 2%;
}

.text-body{
  width:100%;
  height: 100%;
  font-size: 2em;
}

.body-footer{
  flex:1;
  display: flex;
  justify-content: flex-end;
}

.save-button{
  font-size: 1em;
  border: 0px;
  background-color: rgb(233,233,239);
  flex: .1;
}

.character-count{
  text-align: right;
  padding: 2%;
  flex:1;
}

.red{
  color:red;
  /* border: 1px solid red; */
}