.BodySection-wrapper{
  display: flex;
  flex-direction: column;
  flex:1;
}

.BodySection-header-wrapper{
  font-style: italic;
  color:grey;
  flex:1;
  display: flex;
  flex-direction: row;
}

.BodySection-header-text{
  display: flex;
  align-items: center;
}

.BodySection-clipboard-img{
  fill: grey;
  padding-left: 2%;
}

.BodySection-text-wrapper{
  flex:8;
  display: flex;
}

.BodySection-text-body{
  flex:1;
  font-size: 1.5em;

  border-radius: 5px;
  border: 1px solid grey;
}

.BodySection-body-footer{
  flex:1;
  display: flex;
  align-items: center;
}

.BodySection-save-button{
  font-size: 1em;
  background: rgb(233,233,239);
  border: none;
}

.BodySection-character-count{
  flex:1;
  text-align: end;
}

.BodySection-red{
  color:red;
}