.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body{
  background: rgb(233,233,239);
}

header{
  flex:1;
  font-size: 1.5em;
}

.center-span{
  flex:1;
}

.title-container{
  flex:1;
}

.body-container{
  flex:1;
}

footer{
  flex:1;
}