.App{
  display:flex;
  flex-direction: column;
  background: rgb(233,233,239);
  height: 100vh;
  justify-content: space-between;
}

header{
  text-align: center;
  justify-content: center;
  background: #fff;
  flex:1;
  justify-content: center; 
  font-size: 2em;
}

.center-span{
  justify-content: center; 
}

.title-container{
  flex:3;
}

.body-container{
  flex:12;
}

footer{
  text-align: center;
  justify-content: center;
  background: #fff;
  flex:1;
  display: flex;
}